* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    /*debug
    border: 1px solid black;
    min-height: 300;*/
}

img {
    max-width: 100%;

}

.header {
    background-color:#FF6900 ;
    height: 40px;
}
.col-20 {
    width: 20%;
}
.col-60 {
    width: 60%;
    text-align: center;
}
.ul-list {
    display: flex;
    justify-content: cente;
    gap: 15px;
    color: white;
    text-decoration: none;

}
.icon {
    text-align: right;
    color: white;
    font-size: 60%;
}
.sotto {
    text-decoration: none;
    font-size: 60%;
    text-align: left;
}
.row2 {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    padding: 10px;
}
.logo {
    width: 60px;
}
.section {
    padding: 30px 0;
}

.col {
    width: calc(95%/3);
    /*debug
    border: 1px solid blue;
    min-height: 200px;*/
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.card {
    position: relative;
}

.discount {
    position: absolute;
    background-color: red;
    color: white;
    left: 0;
    bottom: 30px;
    font-size: smaller;
    padding: 3px;
    z-index: 2;
}

.sostenibilita {
    position: absolute;
    background-color: green;
    color: white;
    bottom: 30px;
    left: 40px;
    font-size: smaller;
    padding: 3px;
    z-index: 2;
}

.cuore {
    position: absolute;
    background-color: white;
    padding: 3px;
    font-size: smaller;
    right: 0;
    top: 5px;
    z-index: 2;
}

.cuore:hover {
    color: red;
}
.uomo1b {
    position: absolute;
    top: 0;
    left: 0;
}
.uomo1a {
    position: relative;
}

.card:hover .uomo1a {
    z-index: 1;
}
.donna1b {
    position: absolute;
    top: 0;
    left: 0;
}
.donna1a {
    position: relative;
}
.card:hover .donna1a {
    z-index: 1;
}
.name1 {
   font-size: 50%;
    color: grey;
}
.descrizione {
    margin-top: 0;
   line-height: 40%;
}
.name2 {
    font-size:50%; 
    font-weight: 500;

}
.name3 {
    font-size: 50%;
    color: red;
}
.name4 {
    font-size: 50%;
    text-decoration: line-through;
}
.donna2b {
    position: absolute;
    top: 0;
    left: 0;
}
.donna2a {
    position: relative;
}
.card:hover .donna2a {
    z-index: 1;
}
.uomo2b {
    position: absolute;
    top: 0;
    left: 0;
}
.uomo2a {
    position: relative;
}
.card:hover .uomo2a {
    z-index: 1;
}
.donna3b {
    position: absolute;
    top: 0;
    left: 0;
}
.donna3a {
    position: relative;
}
.card:hover .donna3a {
    z-index: 1;
}
.donna4b {
    position: absolute;
    top: 0;
    left: 0;
}
.donna4a {
    position: relative;
}
.card:hover .donna4a {
    z-index: 1;
} 
.sos {
    position: absolute;
    left: 0;
}
.footer {
    background-color: #1A1A1A;
    height: 80px;
}
.footerbox {
    color: white;
    font-size: small;
    padding-top: 15px;
    display: flex;
}
.srl {
    font-weight: 600;
    padding-bottom: 5px;
    width: 70%;
}
.icon2 {
    width: 30%;
    text-align: right;
}
.icon3 {
    width: 70%;
} 